@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #333;
    text-align: center;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.ocupado {
    background-color: #f2a0a0;
    color: white;
}
