<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>ClinicaMedica</display-name>
  <welcome-file-list>
     <welcome-file>Login.jsp</welcome-file>

  </welcome-file-list>

 
   <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login/</url-pattern>  
    </servlet-mapping>
<!--  
    <servlet>
        <servlet-name>AdministradorServlet</servlet-name>
        <servlet-class>servlets.AdministradorServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdministradorServlet</servlet-name>
        <url-pattern>/AdministradorServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PacienteServlet</servlet-name>
        <servlet-class>servlets.PacienteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PacienteServlet</servlet-name>
        <url-pattern>/PacienteServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MedicoServlet</servlet-name>
        <servlet-class>servlets.MedicoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MedicoServlet</servlet-name>
        <url-pattern>/MedicoServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ConsultarCitaServlet</servlet-name>
        <servlet-class>servlets.ConsultarCitaServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ConsultarCitaServlet</servlet-name>
        <url-pattern>/ConsultarCitaServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RealizarReservaServlet</servlet-name>
        <servlet-class>servlets.RealizarReservaServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RealizarReservaServlet</servlet-name>
        <url-pattern>/RealizarReservaServlet</url-pattern>
    </servlet-mapping>
    -->
 
</web-app>